bat
btop
cbonsai
doctl
fd
fzf
helm
helm-ls
helm-docs
jq
k6
k9s
kubernetes-cli
meetingbar
neofetch
neovim
nmap
node
openmtp
qrencode
parquet-cli
pgcli
python@3.12
redis
ripgrep
scrcpy
telnet
terraform
terraform-ls
tmux
wget
wimlib
